
.messages {
    background-color: rgba(250, 208, 154, 0.575);
    color: black;
    width: 50%;
    height: 400px;
    overflow-y: scroll;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding-bottom: 20px;
}

.square {
    color: rgb(0, 0, 0);
}
